/*GENERAL*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(tlo.jpg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  color: white;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*CONTENT*/

#content {
  font-size: 1.2em;
  text-align: center;
  padding-top: 25%;
  padding-bottom: 25%;
  text-shadow: 0px 3px 2px rgba(0,0,0,0.4);
}

#content p span {
  font-weight: 700;
  font-size: 1.2em;
}

/*FOOTER*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  overflow: hidden;
}

.container .text-muted {
  margin: 2% 0;
  font-size: 0.8em;
}

.footer p {
  text-align: center;
}

.footer p span {
  margin: auto 1.5%;
}

.footer a {
  font-weight: 700;
  color: #0a650b;
}
